<!DOCTYPE html>
<html lang="fr" ng-app="cart">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <!-- BootsWatch Sketchy CSS -->
  <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css" />
  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
  <!-- Me CSS -->
  <link rel="stylesheet" href="assets/css/style.css" />
  <!-- Shortcut Icon -->
  <link rel="shortcut icon" type="image/png" href="images/Img/logorouge.png" />
  <title>BD Lyrium</title>
</head>
<!-- Controller -->
<body ng-controller="bdDataCtrl">
  <!-- Début Navbar -->
  <nav class="navbar navbar-expand-lg color sticky-top text-white">
    <a class="navbar-brand" href="#"><img src="images/logo/logorouge.png" alt="Logo BD-Lyrium"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars fa-2x text-white"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Catégories <span class="sr-only">(current)</span></a>
          <div class="dropdown-menu" x-placement="bottom-start">
            <a class="dropdown-item drpdown" href="#!/horror">Horreur</a>
            <a class="dropdown-item drpdown" href="#!/humor">Humour</a>
            <a class="dropdown-item drpdown" href="#!/fiction">Science-Fiction</a>
            <a class="dropdown-item drpdown" href="#!/hero">Super-Héros</a>
            <a class="dropdown-item drpdown" href="#!/unavoidable">Incontournables</a>
            <a class="dropdown-item drpdown" href="#!/goodies">Goodies</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#footer">Contacts</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-2">
        <input class="form-control mr-sm-2" type="text" placeholder="Watchmen ...">
        <button class="btn btnsearch my-2 my-sm-0" type="submit">Rechercher</button>
      </form>
      <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-shopping-basket fa-2x"></i></a>
      <div class="amount">{{totalAmountProduct}}</div>
    </div>
  </nav>
  <!-- Fin Navbar -->
  <!-- Début video de presentation et texte -->
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-6">
        <!-- Mute vidéo -->
        <video src="videos/videodepresentation.mp4" autoplay loop muted></video>
      </div>
      <div class="col-md-6 text-justify textPresentation p-4">
        <p>Unique Comic-Shop du Havre, BD Lyrium se spécialise donc dans la bande dessinée américaine, le comics, aussi bien en volumes reliées qu’en périodiques. La boutique comprend également une large sélection de produits dérivés : Vêtements, affiches, figurines et statues, goodies… le tout sous le regards d’une impressionnante statue de Hulk !</p>
      </div>
    </div>
  </div>
  <!-- Fin  video de presentation et texte -->
  <div ng-view></div>
  <!-- Modal Panier -->
  <!-- Cart -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title h2" id="exampleModalCenterTitle"><a class="navbar-brand" href="#"><img src="images/logo/logoblanc.png" alt="Logo BD-Lyrium"></a>Panier</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-header bg-dark text-light">
              <div class="row mx-auto">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <p class="pl-1 mb-0">{{totalAmountProduct}} article(s) dans votre panier</p>
              </div>
            </div>
            <div class="card-body">
              <!-- Product -->
              <div ng-repeat="article in articleArray" class="row mb-3 pb-3 border-bottom">
                <div class="col-lg-2 col-md-12 col-sm-12 text-center">
                  <img class="img-responsive" src="{{article.image}}" alt="{{article.alt}}"  height="80">
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <h1 class="product-name h4"><strong>{{article.name}} {{article.subtitle}}</strong></h1>
                  <h2 class="h5"><small>Réf : {{article.ref}} - {{article.category}}</small></h2>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 row">
                  <div class="col-lg-6 col-md-4 col-sm-4 col-6 mx-auto">
                    <h2 class="h5 mb-0 mt-2"><strong>{{article.total}}<span class="text-muted">€</span></strong></h2>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-2">
                    <div class="quantity">
                      <input ng-click="moreProduct(article.id)" type="button" value="+" class="plus">
                      <input type="text" step="1" max="99" min="1" value="{{article.amount}}" title="Qantité" class="qty" size="4" disabled>
                      <input ng-click="lessProduct(article.id)" type="button" value="-" class="minus">
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-4 col-12 text-md-right text-sm-right text-center">
                    <button name="deleteCart" ng-click="deleteProduct(article.id)" type="button" class="btn btn-outline-danger btn-xs ml-2">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- End Product -->
            </div>
            <div class="card-footer">
              <a href="" class="btn btn-success float-right mt-1 ml-2">Valider mon panier</a>
              <div class="mt-2">
                <p>Total : <b>{{totalPrice | number:2}}€</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-outline-info btn-sm float-right">Continuer ma commande</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Début footer -->
  <footer>
    <div class="container footer text-center">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <h1 class="titleFooter text-center">Adresse</h1>
          <p><i class="fas fa-map-marker-alt"></i>72 Rue Maréchal Gallieni<br /> 76600 Le Havre<p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2591.3573269924573!2d0.11004975080172145!3d49.496645779253676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e02f182d39f9a1%3A0xe31b0bd9966a2678!2sBd+Lyrium!5e0!3m2!1sfr!2sfr!4v1541413529037" allowfullscreen></iframe>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <h1 class="titleFooter text-center">Horaires</h1>
          <div class="m-auto">
            <h2 class="h4">Lundi</h2><p>Fermé</p>
            <h2 class="h4">Du mardi au samedi</h2><p>10:00–12:30 14:30–19:00 </p>
            <h2 class="h4">Dimanche</h2><p>Fermé</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="text-center">
            <h1 class="titleFooter text-center">Contacts</h1>
            <div class="row">
              <img id="logofooter" src="images/logo/logoblanc.png" alt="LOGO">
            </div>
            <p><i class="fas fa-phone"></i>02.35.22.42.51</p>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
              <a href="https://www.facebook.com/bdlyriumLH/"><i class="fab fa-facebook-square fa-2x float-right"></i></a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
              <a href="https://www.instagram.com/bd.lyrium/?hl=fr"><i class="fab fa-instagram fa-2x float-left"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center contributor">
        <p>site réalisé par Adrien, Angela, Fabien et Jonathan</p>
      </div>
    </div>
  </footer>
  <!-- Fin footer -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- AngularJS, AngularJS Route, AngularJS messages -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.7.5/angular-route.js"></script>
  <script src="https://code.angularjs.org/1.7.5/angular-messages.min.js"></script>
  <!-- Me Script -->
  <script src="assets/js/script.js"></script>
</body>
</html>
