nav.color {
  background-color: #bc0303;
  color: #000000;
}

.txtnavcolor {
  color: #ffffff;
}

.btnsearch {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000
}

.btnsearch:hover {
  background-color: #bc0303;
  color: #000000;
  border-color: #000000
}

.drpdown:hover {
  background-color: #bc0303;
}

.homlogo {
  background-size: cover;
  width: 75px;
  height: 65px;
}

.homlogo2 {
  color: #ffffff;
}

.btnsubmit {
  display: block;
  margin: auto;
}

.cheat {
  margin-top: 20px;
}
