<div class="container mb-5">
  <div class="alert alert-secondary">
    <h1 class="alert-heading h3">Mon Panier</h1>
    <div class="card border-primary mb-3">
      <div class="card-header">
        <p>Vous avez {{totalAmountProduct}} article(s) dans votre panier</p>
      </div>
      <div class="card-body">
        <!-- Product -->
        <div ng-repeat="article in articleArray" class="row mb-3 pb-3 border-bottom">
          <div class="col-lg-2 col-md-12 col-sm-12 text-center">
            <img class="img-responsive" src="{{article.image}}" alt="{{article.alt}}"  height="80" />
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <h1 class="product-name h4"><strong>{{article.name}} {{article.subtitle}}</strong></h1>
            <h2 class="h5"><small>Réf : {{article.ref}} - {{article.category}}</small></h2>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 row">
            <div class="col-lg-6 col-md-4 col-sm-4 col-6 mx-auto">
              <h2 class="h5 mb-0 mt-2"><strong>{{article.total}}<span class="text-muted">€</span></strong></h2>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-2">
              <div class="quantity">
                <input ng-click="moreProduct(article.id)" type="button" value="+" class="plus" />
                <input type="text" step="1" max="99" min="1" value="{{article.amount}}" title="Qantité" class="qty" size="4" disabled />
                <input ng-click="lessProduct(article.id)" type="button" value="-" class="minus" />
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-12 text-md-right text-sm-right text-center">
              <button name="deleteCart" ng-click="deleteProduct(article.id)" type="button" class="btn btn-outline-danger btn-xs ml-2">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- End Product -->
      </div>
      <div class="card-footer">
        <form action="#!/form">
          <input type="submit" ng-click="deleteCustomer()" ng-disabled="articleArray.length == 0" id="clickClose" class="btn btn-success float-right mt-1 ml-2" value="Valider mon panier" />
          <a href="#!/" class="btn btn-success mt-1 float-right">Accueil</a>
        </form>
        <div class="mt-2">
          <h1 class="h3">Total : <b>{{totalPrice | number:2}}€</b></h1>
        </div>
      </div>
    </div>
  </div>
</div>
