<div class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Livraison</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form>
            <fieldset>
              <div class="row">
                <div class="form-group col-5">
                  <label for="custfname">Votre Nom</label>
                  <input type="text" class="form-control" id="custfname" placeholder="Entrez votre nom.">
                </div>
                <div class="form-group col-5">
                  <label for="custlname">Votre Prénom</label>
                  <input type="text" class="form-control" id="custlname" placeholder="Entrez votre Prénom.">
                </div>
              </div>
              <div class="form-group">
                <label for="custaddress">Votre Adresse</label>
                <input type="text" class="form-control" id="custaddress" aria-describedby="addressHelp" placeholder="Entre votre adresse.">
                <small id="addressHelp" class="form-text text-muted">Nous ne divulguerons jamais votre adresse personnelle à un groupe tiers.</small>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox">
                  J'ai lu et accepté les petites conditions que les entreprises mettent et servent à glisser une douille au clients quand ils s'y attendent le moins.
                </label>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Valider</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
