
<div class="container-fluid mx-auto" id="boutique">
  <div class="container superheros">
    <div class="divTitre" text-center>
      <br><br>
      <h2 align="center"><div id="incontournables">Les Incontournables</div></h2>
    </div>

    <div class="row rowbd1">

      <!-- PREMIÈRE BD -->
      <div id="incontournable1" class="item col-md-4 col-12">
        <div class="itemDetails">
          <div class="itemImage">
            <img src="images/Img/incontournable/IMG_5891.JPG" alt="TylerCorssMiami" />
          </div>
          <div class="itemText">
            <hr class="hrTitle">
            <a tabindex="0" class="btn btn-transparent" role="button" data-toggle="popover" data-trigger="focus" title="Miami, Tyler Cross tome 1" data-placement="bottom" data-content="RÉSUMÉ : Nous avions quitté un Tyler Cross fatigué mais libre après son évasion du centre pénitentiaire d'Angola. Nous le retrouvons fringuant et en chemisette à fleurs sous le soleil de Floride. Entraîné malgré lui par son avocat véreux, Tyler s'immerge dans le monde poisseux de la promotion immobilière. Et se concentre sur un objectif alléchant : un braquage de 700 000 dollars. Dans cette nouvelle affaire criminelle, Tyler Cross rencontre une alliée surprenante en la personne de Shirley Axelrod, apparemment normale, mais qui apprend vite. Très vite.">Miami <br>Tyler Cross tome 3</a>
            <hr class="hrTitle">
            <p class="price-container">Réf : D001<span class="price" id="price1"><br><br>16,95</span><span class="euros">€</span></p>
          </div>
        </div>
        <button id="add1"type="button" class="btn btn-secondary">Ajouter au panier</button>
      </div>
      <!-- FIN BD -->

      <!-- DEUXIÈME BD -->
      <div id="incontournable2" class="item col-md-4 col-12">
        <div class="itemDetails">
          <div class="itemImage">
            <img src="images/Img/incontournable/IMG_5892.JPG" alt="humains" />
          </div>
          <div class="itemText">
            <hr class="hrTitle">
            <a tabindex="0" class="btn btn-transparent" role="button" data-toggle="popover" data-trigger="focus" title="Grant Morrison présente Batman intégrale tome 3" data-placement="bottom" data-content="RÉSUMÉ : Bruce Wayne a été envoyé à l'aube de l'humanité par le tyran Darkseid. Amnésique, il va devoir user de toutes ses ressources pour retrouver son chemin dans le temps, se projetant à chaque fois plus en avant dans les époques, pourchassé par un monstre créé par Darkseid. Contient Batman: The Return of Bruce Wayne #1-6, Batman and Robin #16, Batman: The Return #1, Legends of the Dark Knight #6-10, Batman: The Black Casebook, Dark Knight, Dark City.">Grant Morrison présente Batman <br>intégrale tome 3</a>
            <hr class="hrTitle">
            <p class="price-container">Réf : D002<span class="price" id="price2"><br><br>28,00</span><span class="euros">€</span></p>
          </div>
        </div>
        <button id="add2"type="button" class="btn btn-secondary">Ajouter au panier</button>
      </div>
      <!-- FIN BD -->

      <!-- TROISÈME BD -->
      <div id="incontournable3" class="item col-md-4 col-12">
        <div class="itemDetails">
          <div class="itemImage">
            <img src="images/Img/superheros/IMG_5875.JPG" alt="photo Batman" />
          </div>
          <div class="itemText">
            <hr class="hrTitle">
            <a tabindex="0" class="btn btn-transparent" role="button" data-toggle="popover" data-trigger="focus" title="Batman récit complet tome 9 Face à black manta" data-placement="bottom" data-content="RÉSUMÉ : Beast Boy est tenté de partir, Starfire semble manifester un tempérament de chef et Jackson Hyde hésite encore à faire partie du groupe. L'arrivée de Black Manta, l'ennemi d'Aquaman, est l'occasion d'obtenir des réponses, mais à quel prix ? Quant à Kid Flash, chassé de l'équipe par Damian, il fait son retour alors que le mutique Onomatopée s'en prend à Red Arrow. Les justiciers juvéniles vivent de nouvelles aventures palpitantes grâce à Benjamin PERCY et Khoi PHAM.">Batman récit complet tome 9<br> Face à black manta</a>
            <hr class="hrTitle">
            <p class="price-container">Réf : A003<span id="price3" class="price"><br><br>5,90</span><span class="euros">€</span></p>
          </div>
        </div>
        <button id="add3"type="button" class="btn btn-secondary">Ajouter au panier</button>
      </div>
      <!-- FIN BD -->

    </div>

    <hr class="middleHr">
    <div class="row rowbd2">

      <!-- QUATRIÈME BD -->
      <div id="incontournable4" class="item col-md-4 col-12">
        <div class="itemDetails">
          <div class="itemImage">
            <img src="images/Img/superheros/IMG_5876.JPG" alt="X-men" />
          </div>
          <div class="itemText">
            <hr class="hrTitle">
            <a tabindex="0" class="btn btn-transparent" role="button" data-toggle="popover" data-trigger="focus" title="X-men - intégrale tome 35" data-placement="bottom" data-content="RÉSUMÉ : Suite et fin du crossover Attractions Fatales dans ce quatrième tome consacré aux aventures des X-Men parues en 1993. Retrouvez-y également les héros de l'équipe Or contre le Phalanx !">X-men - <br>intégrale tome 35</a>
            <hr class="hrTitle">
            <p class="price-container">Réf : A004<span class="price" id="price1"><br><br>35,00</span><span class="euros">€</span></p>
          </div>
        </div>
        <button id="add4"type="button" class="btn btn-secondary">Ajouter au panier</button>
      </div>
      <!-- FIN BD -->

      <!-- CINQUIÈME BD -->
      <div id="incontournable5" class="item col-md-4 col-12">
        <div class="itemDetails">
          <div class="itemImage">
            <img src="images/Img/superheros/IMG_5877.JPG" alt="photo La panthère noire" />
          </div>
          <div class="itemText">
            <hr class="hrTitle">
            <a tabindex="0" class="btn btn-transparent" role="button" data-toggle="popover" data-trigger="focus" title="La panthère noire" data-placement="bottom" data-content="RÉSUMÉ : Fils aîné de roi, T'Challa savait qu'il succèderait un jour à son père, mais son assassinat l'assoit prématurément sur le trône. Le jeune monarque réussira-t-il à protéger son pays aussi valeureusement que feu son père ? Découvrez les jeunes années de La Panthère Noire.">La<br> panthère noire</a>
            <hr class="hrTitle">
            <p class="price-container">Réf : A005<span class="price" id="price2"><br><br>16,00</span><span class="euros">€</span></p>
          </div>
        </div>
        <button id="add5"type="button" class="btn btn-secondary">Ajouter au panier</button>
      </div>
      <!-- FIN BD -->

      <!-- SIXIÈME BD -->
      <div id="incontournable6" class="item col-md-4 col-12">
        <div class="itemDetails">
          <div class="itemImage">
            <img src="images/Img/superheros/IMG_5878.JPG" alt="Spider-man" />
          </div>
          <div class="itemText">
            <hr class="hrTitle">
            <a tabindex="0" class="btn btn-transparent" role="button" data-toggle="popover" data-trigger="focus" title="Marvel legacy Spider-man extra tome 2 " data-placement="bottom" data-content="RÉSUMÉ : Les séries Venom et Spider-Man 2099 sont toujours au rendez-vous.">Marvel legacy <br />Spider-man extra tome 2</a>
            <hr class="hrTitle">
            <p class="price-container">Réf : A006<span id="price3" class="price"><br><br>6,90</span><span class="euros">€</span></p>
          </div>
        </div>
        <button id="add6"type="button" class="btn btn-secondary">Ajouter au panier</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN BD -->
